.banner {
    background: var(--cor-azul-degrade);
    text-align: center;
    padding: 2em 1em;
    color: var(--cor-branco);
}

.banner__titulo {
    font-size: 1.125rem;
    font-weight: 700;
}

.banner__texto {
    font-size: 1rem;
    font-weight: 300;
    margin: 1em 1em;
    line-height: 1.5em;
}

.banner__input{
    border: var(--cor-branco) solid 1px;
    border-radius: 1.5em;
    background-color: transparent;
    color: var(--cor-branco);
    padding: 1em 1em 1em 2em;  
    width: 100%;
    font-size: 0.875rem;
}

.banner__input::placeholder{
    color: var(--cor-branco);
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
    background: url('../images/Lupa.svg') no-repeat;
    background-position: 2.5em;
}

.banner__input:focus{
    background: rgba(0, 0, 0, 0.308);
    outline: 0;
}

@media screen and (min-width: 1024px){
    .banner{
        padding-inline: 13em;
    }

    .banner__titulo {
        font-size: 2.25rem;
    }

    .banner__texto {
        font-weight: 500;
    }

    .banner__input{
        padding: 1em 1em 1em 2em;  
        width: 80%;
    }
    .banner__input::placeholder{
        background-position: 6em;
    }
}
