.topicos {
    background: var(--cor-azul-degrade);
    text-align: center;
    padding: 1.5em 0em;
    color: var(--cor-branco);
    font-size: 1rem;
}

.topicos__titulo {
    font-weight: 300;
    margin-bottom: 2em;
}

.topicos__links {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.topicos__links__botao{
    padding: 1em 1.5em;
    font-size: 0.875rem;
    line-height: normal;
}